body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  .box a {
    text-decoration: none; /* Remove the underline */
    color: white; /* Set the link color to white */
  }

  h1{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
  }

.box{
    background-color:  #374176;
    height: 8vh;
    margin: auto;
    width: 25%;
    color: white;
    text-decoration: none;
    justify-content: center;
    text-align: center;   
  padding-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
